* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #FBF5DD;
}

/* ================= HEADER ================= */

.header {
    width: 100%;
    height: 75px;
    background: #FBF5DD;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 7%;

    border-bottom: 2px solid #E7E1B1;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.logo-icon {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.logo h1 {
    color: #0D530E;
    font-size: 30px;
    font-weight: 700;
}

/* ================= NAVIGATION ================= */

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #306D29;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: .3s;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0;
    height: 3px;

    background: #306D29;
    transition: .3s;
}

.nav-links a:hover {
    color: #0D530E;
}

.nav-links a:hover::after {
    width: 100%;
}

/* ================= HAMBURGER ================= */

.menu-btn {
    display: none;
    font-size: 28px;
    color: #306D29;
    cursor: pointer;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

    .header {
        padding: 0 20px;
        position: relative;
    }

    .logo-icon {
        width: 42px;
        height: 42px;
    }

    .logo h1 {
        font-size: 24px;
    }

    .menu-btn {
        display: block;
        z-index: 1100;
    }

    .nav-links {
        position: absolute;
        top: 75px;
        left: 0;

        width: 100%;

        background: #FBF5DD;
        border-top: 2px solid #E7E1B1;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;

        max-height: 0;
        overflow: hidden;

        transition: max-height .3s ease;
    }

    .nav-links.open {
        max-height: 300px;
    }

    .nav-links a {
        width: 100%;
        padding: 16px 0;
        text-align: center;
        border-bottom: 1px solid #E7E1B1;
    }

    .nav-links a:last-child {
        border-bottom: none;
    }
}